<div class="header">
    <img src="/assets/img/image1.PNG"class="img1">
    <div name="line" id="line">How doers <br/> get more done.</div>
    <div class="rightside">
      <p><a href="http://localhost:4200/">Local Ad</a></p> <p>|</p>
      <p><a href="http://localhost:4200/">Store Finder</a></p> <p>|</p>
      <p><a href="http://localhost:4200/">Credit Center</a></p> <p>|</p>
      <p><a href="http://localhost:4200/">Specials & Offers</a></p>
      <a href='http://localhost:4200/'>
        <button class="return">
            Return to Home Depot
        </button>
      </a>
    </div>
</div>
<div name="hr" id="hr"> <hr/> </div>
