<div class="footer">
  <div class="footer1">
    <br/><hr/><br/> 
    <select id="credit" class="tab">
        <option value="creditcard">The Home Depot Consumer Credit Card</option>
        <option value="revolvingcard">The Home Depot Commercial Revolving  Card</option>
        <option value="account">The Home Depot Commercial Account</option>
    </select><br/><hr/><br/><br/>
  </div>
  <div class="footer2">
    <img src="/assets/img/image3.PNG"class="img3">
    <div class="left">
      1-800-677-0232<br/>
      Mon-Sat 6:00 am - 1:00 am ET<br/>
      Sun 7:00 am - 12:00 am ET <br/><br/>
      ADDITIONAL PHONE NUMBERS <br/><br/>
      Technical Assistance <br/>
      1-866-875-5488<br/><br/>
      TTY for the Hearing Impaired <br/>
      1-888-944-2227<br/><br/>
      Outside the U.S., Canada and Puerto Rico, Call Collect <br/>
      1-423-467-6124<br/><br/>
    </div>
    <img src="/assets/img/image4.PNG"class="img4">
    <div class="right">
      P.O. Box 7032 <br/>
      Sioux Falls, SD 57117-7032 <br/><br/><br/>
      PAYMENT ADDRESSES <br/><br/><br/>
      The Home Depot Consumer Credit <br/>
      Card Payments <br/>
      Home Depot Credit Services <br/>
      P.O. Box 9001010 <br/>
      Louisville, KY 40290-1010 <br/><br/>
      PO Box 70600<br/>
      Philadelphia, PA 19176-0600<br/><br/><br/><br/>
      The Home Depot Consumer Credit <br/>
      Card Overnight Delivery/Express <br/>
      Payments <br/>
      Attn: Consumer Payment Dept. <br/>
      6716 Grade Ln<br/>
      STE 910 <br/>
      Louisville, KY 40213 <br/>
    </div>
  </div>
  <div>
  <img src="/assets/img/image5.PNG"class="img5">
` </div>
</div>
